<?xml version="1.0" encoding="UTF-8"?>  
<configuration status="info">  
    <properties>  
        <Property name="fileName">/mnt/app/logs/ims-message/ims-message.log</Property>
        <Property name="backupFilePattern">/mnt/app/logs/ims-message/ims-message-%d{yyyyMMddHH}-%i.log</Property>
    </properties>  
    <Appenders>  
        <Console name="Console" target="SYSTEM_OUT">  
            <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY" />   
            <PatternLayout pattern="[%5p] [%-d{yyyy-MM-dd HH:mm:ss,SSS}] [%c.%M:%L] %m%n" />  
        </Console>
        <RollingFile name="RollingFile" fileName="${fileName}" filePattern="${backupFilePattern}">  
            <PatternLayout>  
                <pattern>[%d{ISO8601}] %C{1}(%M:%L): %m%n</pattern>  
            </PatternLayout>  
            <Policies>
                <TimeBasedTriggeringPolicy interval="24" modulate="true"/>  
                <SizeBasedTriggeringPolicy size="30MB"/>
            </Policies>  
            <DefaultRolloverStrategy max="10"/>  
        </RollingFile>    
    </Appenders>
    <Loggers>  
        <root level="debug">
            <appender-ref ref="Console" />
            <!--<appender-ref ref="RollingFile" />-->
        </root>
    </Loggers>
</configuration>